<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task book</title>
    <link rel="stylesheet" href="./view/assets/css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <form>
                        <div class="form-row m-2">
                            <div class="col-sm-6 mb-3">
                                <input type="text" class="form-control" id="add_name" placeholder="Enter name">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <input type="email" class="form-control is-invalid" id="add_email" placeholder="Enter email">
                            </div>
                            <div class="col-sm-12 mb-3">
                                <textarea class="form-control is-invalid" id="add_content" cols="30" rows="3" placeholder="Enter task"></textarea>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button type="reset" class="btn btn-danger">Reset</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <section class="task-list row">
            <article class="task-list__item col-sm-6 mt-4">
                <div class="border border-dark p-3 mb-2 bg-light text-dark m-2">
                    <div class="position-absolute fixed-top text-right pr-5 pt-3 font-italic">12.04.2020</div>
                    <div class="mt-3">
                        <div class="font-italic mb-3">
                            <a class="text-dark" href="mailto:bryl.siceplanet@gmail.com">bryl.siceplanet@gmail.com</a>
                        </div>
                        <blockquote class="blockquote">
                            <p class="text-justify text-black-50"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta doloribus ipsum nisi omnis repudiandae sed soluta! Atque, beatae deleniti esse, expedita illo in nemo neque nostrum placeat saepe sit!</span></p>
                            <footer class="blockquote-footer"><span class="font-weight-bolder">Vitalii Bryliano</span>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </article>
            <article class="task-list__item col-sm-6 mt-4">
                <div class="border border-dark p-3 mb-2 bg-success text-dark m-2">
                    <div class="position-absolute fixed-top text-right pr-5 pt-3 font-italic">12.04.2020</div>
                    <div class="mt-3">
                        <div class="font-italic mb-3">
                            <a class="text-dark" href="mailto:bryl.siceplanet@gmail.com">bryl.siceplanet@gmail.com</a>
                        </div>
                        <blockquote class="blockquote">
                            <p class="text-justify text-black-50"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta doloribus ipsum nisi omnis repudiandae sed soluta! Atque, beatae deleniti esse, expedita illo in nemo neque nostrum placeat saepe sit!</span></p>
                            <footer class="blockquote-footer">
                                <span class="font-weight-bolder">Vitalii Bryliano</span>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </article>
            <article class="task-list__item col-sm-6 mt-4">
                <div class="border border-dark p-3 mb-2 bg-light text-dark m-2">
                    <div class="position-absolute fixed-top text-right pr-5 pt-3 font-italic">12.04.2020</div>
                    <div class="mt-3">
                        <div class="font-italic mb-3">
                            <a class="text-dark" href="mailto:bryl.siceplanet@gmail.com">bryl.siceplanet@gmail.com</a>
                        </div>
                        <blockquote class="blockquote">
                            <p class="text-justify text-black-50"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta doloribus ipsum nisi omnis repudiandae sed soluta! Atque, beatae deleniti esse, expedita illo in nemo neque nostrum placeat saepe sit!</span></p>
                            <footer class="blockquote-footer"><span class="font-weight-bolder">Vitalii Bryliano</span>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</div>
<link rel="stylesheet" href="./view/assets/css/lib/bootstrap-4.4.1/bootstrap.min.css">
<link rel="stylesheet" href="./view/assets/css/lib/bootstrap-4.4.1/bootstrap-grid.min.css">
<link rel="stylesheet" href="./view/assets/css/lib/bootstrap-4.4.1/bootstrap-reboot.min.css">
</body>
</html>